<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Adepro</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <img src="../../../assets/adepro_logo_trans.png" alt="Home">        
        </div>
        <div class="footer-center">
            <p>Central Canebière – 10 Rue de la République<br>
                F-13001 Marseille<br>
                France</p>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="">À propos de nous</a></li>
                <br>
                <li><a routerLink="confidentialite">Mentions légales</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright © 2025 · Adepro
    </div>
</footer>

</body>
</html>
