<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header SavApp</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
<header>
    <img src="../../../assets/adepro_logo.png" alt="logo" class="logo">
    <div class="nav">
        <a><button class="nav-btn" routerLink="calculateur">Calculateur</button></a>
        <a><button class="nav-btn" routerLink="mes-recettes">Mes recettes</button></a>
        <a><button class="nav-btn" routerLink="ingredients">Ingrédients</button></a>
        <a><button class="nav-btn" routerLink="users">Utilisateurs</button></a>
    </div>
</header>
</body>
</html>