* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 50px;
    border-bottom: 2px solid #eee;
  }

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #5b00af;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 20px;
}

.nav-btn {
    text-decoration: none;
    color: #383838;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.nav-btn:hover {
    color: #371B7D; 
}
