<div class="container">
    <div class="row pt-4">
        <h2>Bienvenue sur notre application</h2>
        <div class="col-md-6 box">
            <p>Avec notre application vous allez pouvoir formuler vos propres recettes de savon en utilisant la saponification à froid. </p>
        </div>
        <div class="col-md-5">
            <div class="row">
                <img src="../../../assets/logo-lycee.png" alt="logo lycée" >
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-6 box">
            <p>
                Vous pouvez calculer des recettes avec la rubrique "Calculateur". Mais vous pourrez également sauvegarder vos recettes pour les retrouver ultérieurement en vous inscrivant.
                <br>
                Ce site vous est mis à disposition par la société ADEPRO. 
            </p>
            <div class="row">
                    <img src="../../../assets/adepro_logo.png" alt="logo adepro" >
            </div>
        </div>
    </div>
    <div class="row pt-4 mx-auto text-center">
        <p class="box">Découvrez en plus à notre sujet en consultant la rubrique "A propos". </p>
    </div>
</div>