<div class="container">
    <div class="row pt-4">
        <h2>Bienvenue sur SavApp</h2>
        <div class="col-md-6 box">
            <h2>Savonnerie Facile calculateur : Calculez et Créez </h2>
        </div>

        <div class="row pt-3">
            <div class="col-md-6 box">
                <p>
                    Vous rêvez de faire votre propre savon ? Notre calculateur simplifie le processus.<br>
                    Entrez vos ingrédients, obtenez les proportions idéales et lancez-vous dans la savonnerie artisanale.
                    <br>
                    <br>
                    Ce site vous est mis à disposition par la société ADEPRO. 
                </p>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6 box">
                <p>
                    <a><button routerLink="/calculateur" class="btn btn-primary">Accéder au calculateur</button></a>
                </p>
                <br>
            </div>
            <br>
            <br>
        <div class="mt-6 pt-3">
            <img src="../../../assets/soap_img1.jpg" class="rounded float-right" alt="">
            <img src="../../../assets/soap_img2.jpg" class="rounded float-right" alt="">
            <img src="../../../assets/soap_img3.jpg"class="rounded float-right"  alt="">
        </div>
</div>