<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur SavApp</h1>
        <h2>Savonnerie Facile Calculateur: Calculez et Créez</h2>
        <p>Vous rêvez de faire votre propre savon ? 
        Découvrez notre calculateur de savon pour fabriquer vos propres savons artisanaux en toute simplicité.<br>
        Entrez vos ingrédients, obtenez les proportions idéales et lancez-vous dans la savonnerie artisanale.</p>
        <a href="../recipe-calculator-page/recipe-calculator-page.component.html" class="button">Calculez maintenant</a>
    </div>
</body>
</html>
